.userCard {
  width: 320px;
  margin: 30px;
  padding: 0 10px;
  border-radius: 8px;
  border: 1px solid grey;
}

.userProfile {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userPhoto {
  margin-top: 25px;
  width: 170px;
  border-radius: 50%;
  border: 1px solid grey;
}

.userName {
  font-size: 24px;
  font-weight: 600;
}

.userInfo {
  font-size: 18px;
  color: darkgray;
}

.userCardList {
  display: flex;
  padding: 0 15px;
}

.userCardListItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid grey;
}

.userRating {
  margin-top: 18px;
  font-size: 16px;
}

.userStats {
  font-size: 12px;
}
